.row{
    display: flex;
    flex-wrap: wrap;
   
}

[class*="col-"]{
    padding: 1rem;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


/* small device  */
@media only screen and (max-width:600px) {

    *{
        font-size: 13px;
    }
    h1{
        font-size: 3rem !important;
    }
    span{
        font-size: inherit;
    }
    .slogan-subheading{
        font-size: 1.3rem;
        margin-bottom: .5rem;
    }
    .info{
        background-image: url(/image/bgrespon.png);
       background-attachment: fixed;
    }
    .info-slogan.start{
        transform: translateX(0) !important;
    }

    .h-xs{
        display: none;
    }

    .cart-btn i{
        font-size: 2rem;
    }


    .col-xs-1 {
        width: 8.33%;
    }
    
    .col-xs-2 {
        width: 16.66%;
    }
    
    .col-xs-3 {
        width: 25%;
    }
    
    .col-xs-4 {
        width: 33.33%;
    }
    
    .col-xs-5 {
        width: 41.66%;
    }
    
    .col-xs-6 {
        width: 50%;
    }
    
    .col-xs-7 {
        width: 58.33%;
    }
    
    .col-xs-8 {
        width: 66.66%;
    }
    
    .col-xs-9 {
        width: 75%;
    }
    
    .col-xs-10 {
        width: 83.33%;
    }
    
    .col-xs-11 {
        width: 91.66%;
    }
    
    .col-xs-12 {
        width: 100%;
    }
    
}