*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

:root{
    --primary-color: #0F9D58;
    --background-color:#f0f3f7;
    --second-color: #9da2ad;
    --grey:#7a7a7a;
    --white:#ffff;

}

body,html{
    background-color:var(--background-color);
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
  
}
a{
    text-decoration: none;
    color: unset;
}


img{
    max-width: 100%;
    display: block;
}
.container{
    max-width: 1366px;
    margin: auto;

}



.nav{
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
   background-color: var(--background-color);
   box-shadow: rgba(99,99,99,0.2) 0 2px 8px 0px;
}

 .menu-nav{
    max-width: 1366px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}



.logo{
    font-size: 25px;
    font-weight: bold;
    font-family: "Poppins",sans-serif;
    color: var(--primary-color);
}

.menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .menu-item {
    font-size: 16px;
    font-weight: 600;
    padding:0.5rem 1.5rem;
    color: #999;
    margin-left: 1rem;
    cursor: pointer;
    border-radius: 10px;
    transition:  0.5s ease-in;
    font-family: "Poppins",sans-serif;
}

.menu-list .menu-item:hover{
    background-color: green;
    color: #fff;
}



 .cart-btn {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
   color: var(--primary-color);
    font-size: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    
 }

 .cart-btn:hover {
     background-color: var(--primary-color);
     color:var(--white);
     border-radius: 1rem;
 }
/*  tool */
.fullheight{
    height: 100vh;
}
.fullwidth{
    width: 100%;
}

.align-item-center{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bg-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-img-fixed {
    background-attachment: fixed;
}
.container{
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}

section{
    padding: 9rem 0;
}

.slogan{
    text-align: left;
}
.slogan h1{
    font-size: 7rem;
    color: var(--primary-color);
    font-family: "Poppins",sans-serif;
    font-weight: bold;
}

.slogan-subheading{
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
}

.slogan p{
    color: var(--white);
    
}

.slogan button{
    font-size: 20px;
    padding: 1rem 5rem;
    border-radius:2rem;
    background-color: var(--white);
    border: 3px solid var(--primary-color);
    outline: none;
    color: var(--primary-color);
    margin: 2rem 0;
    cursor: pointer;
    font-weight: 600;
    transition: 0.5s ease-in-out;
}

.slogan button:hover{
    background-color: var(--primary-color);
    color: var(--white);
}

/* info */
#info img{
    border-radius: 2rem;
    box-shadow: rgba(17, 17,26,0.1) 0px 8px 24px,
                rgba(17, 17,26,0.1) 0px 16px 56px,
                rgba(17, 17,26,0.1) 0px 24px 80px

}

.info-slogan{
    padding: 4rem;
    background-color: var(--white);
    border-radius: 2rem;
    box-shadow: rgba(17, 17,26,0.1) 0px 8px 24px;
   
}
.info-slogan.start{
    transform: translateX(-10rem) !important;
}

.info-slogan h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: var(--grey);
}

/* food menu */
.primary-color{
    color: var(--primary-color);
}


.food-menu{
    padding: 4rem;
    background-color: var(--white);
    border-radius: 2rem;
    box-shadow: rgba(17, 17,26,0.1) 0px 8px 24px;;
}

.food-menu h1{
    font-size: 2rem;
    font-weight: 600;
}
.food-menu p {
    margin: 2rem 0;
}

.food-category{
    display: flex;
}

.food-category button{
    padding: 0.5rem 2.5rem;
    margin: 0 1rem;
    border-radius: 2rem;
    outline: none;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: var(--white);
}

.food-category button:hover,
.food-category button.active{
    background-color: var(--primary-color);
    color: var(--white);
}

.food-item-wrap{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.food-item{
    width: 25%;
    height:30rem;
    padding: 1rem;
}

.item-wrap{
    height: 100%;
    transition: .4s ease-in-out;
    cursor: pointer;
    border-radius: 2rem;
    border: 1px solid #999;
}

.item-wrap:hover{
  
    box-shadow:rgba(14, 30,37,0.12) 0px 2px 4px 0px,
    rgba(14, 30,37,0.12) 0px 2px 16px 0px  ;
}

.item-img{
    height: 60%;
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
}

.img-holder{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    border-radius: 2rem;
}

.img-holder:hover{
    transform: scale(2) rotate(45deg);
}

.item-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    padding: 0 1rem;
}

.item-info>div:first-child{
    text-align: left;
}




.review-wrap{
    width: 100%;
    padding: 1rem;
    background-color: var(--white);
    border-radius: 2rem;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.review-wrap.active{
    transform: scale(1.2) !important;
}



.review-content{
    padding:  3rem;
    border-bottom: 1px solid var(--grey);
    position: relative;
    text-align: center;
}
.review-img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 2rem;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.review-info{
    padding: 3rem;
    text-align: center;
}

.rating{
    padding: 2rem;
    color: var(--primary-color);
}


/* footer */
.footer h1{
    color: var(--primary-color);
}

.footer p,
.footer a{
    color: #fff;
}

.contact-list{
    display: flex;
    flex-direction: column;
}

.input-group{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid var(--primary-color);
    margin-top: 2rem;
    border-radius: 2rem;
}
.input-group input{
    background-color: transparent;
    outline: none;
    border: none;
    color: #fff;
}
.input-group button{
    outline: none;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 2rem ;
    cursor: pointer;
    font-weight: 500;
}

/* back to top */
.back-to-top{
    position: fixed;
    bottom: 70px;
    right: 70px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 2rem;
    z-index: 99;
    display: none;
  
}

.food-item-wrap>div{
    display: none;
}

.food-item-wrap.all>div{
    display: block;
}

.food-item-wrap.salad>div.salad-type{
    display: block;
}
.food-item-wrap.fruit>div.fruit-type{
    display: block;
}
.food-item-wrap.food>div.food-type{
    display: block;
}
.food-item-wrap.cake>div.cake-type{
    display: block;
}

/* aanimation */
.left-to-right{
    transform: translateX(-150%);
    transition: 1s ease-in-out;
}

.left-to-right.start{
    transform: translateX(0);
}
.right-to-left{
    transform: translateX(150%);
    transition: 1s ease-in-out;
}

.right-to-left.start{
    transform: translateX(0);
}

.zoom{
    transform: scale(0);
    transition: .6s ease-in-out;
}

.zoom.start{
    transform: unset
}

.bottom-up{
    transform: translateY(30%);
    transition: 0.8s ease-in-out;
}
.bottom-up.start{
    transform: translateY(0);
}

.delay-2{
    transition-delay: .2s;
}
.delay-4{
    transition-delay: .4s;
}
.delay-6{
    transition-delay: .6s;
}
.delay-8{
    transition-delay: .8s;
}
.delay-10{
    transition-delay: 1s;
}